.animate-card {
  z-index: 800;
  position: fixed;
  top: 6rem;
  margin-left: 13rem;
  height: 35rem;
  width: 65rem;
  transition: 0.3s ease-in-out;
  animation: anim 0.3s ease-in-out;
  transform: scale(1) translate(-34rem, 0);
}

.blurMe {
  z-index: 103;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

@keyframes anim {
  0% {
    transform: scale(0.58) translate(-57.8rem, 0) scaleX(0.62);
  }
  100% {
    transform: scale(1) translate(-34rem, 0);
  }
}

.txtasum {
  padding: 1rem;
}

.cardd{
  transition: 0.3s ease-in-out;

}

.cardd:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 50px 10px rgb(92, 8, 92);
}

.boldd {
  font-weight: 900;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

a {
  color: darkblue;
}

.projects-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .cardd {
    transform: scale(2);
  }
  .animate-card {
    position: fixed;
    top: 30%;
    margin-left: 20rem;
    width: 85%;
    animation: anim 0.3s ease-in-out;
  }
  .txtasum {
    font-size: 2rem;
  }
}
