@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.main {
  width: 100vw;
  height: 100vh;
}

html {
  background-color: rgb(17, 2, 17);
  background: linear-gradient(90deg, rgb(17, 2, 17) 2px, transparent 1%) center,
    linear-gradient(rgb(17, 2, 17) 2px, transparent 1%) center, black;
  background-size: 2rem 2rem;
}

.home,
.project,
.contact,
.about {
  position: absolute;
  color: white;
  width: 100vw;
  height: 100vh;
  display: grid;
  transform-style: preserve-3d;
  background: linear-gradient(90deg, rgb(12, 15, 27) 2px, transparent 1%) center,
    linear-gradient(rgb(12, 15, 27) 2px, transparent 1%) center, rgb(0, 0, 0);
  background-size: 1rem 1rem;
  transition: 0.5s;
}

.body.active .first {
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  animation: first-animation 0.5s ease-in-out;
  transform: perspective(1300px) translateX(-7rem) translateY(4.5rem)
    rotateY(30deg) scale(0.5);
  z-index: 101;
}
.body.active .first:hover {
  opacity: 1;
  transform: perspective(1300px) translateX(-6.7rem) translateY(2.5rem)
    rotateY(30deg) scale(0.51);
  box-shadow: 0 0 100px 2px rgb(92, 8, 92);
}
.body.active .first.hover-first {
  opacity: 1;
  transform: perspective(1300px) translateX(-6.7rem) translateY(2.5rem)
    rotateY(30deg) scale(0.51);
  box-shadow: 0 0 100px 2px rgb(92, 8, 92);
}

.body.active .second {
  opacity: 0.8;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  animation: second-animation 0.7s ease-in-out;
  transform: perspective(1300px) translateX(-9rem) translateZ(20px)
    translateY(3rem) rotateY(30deg) scale(0.5);
  z-index: 100;
}
.body.active .second:hover {
  opacity: 1;
  transform: perspective(1300px) translateX(-9rem) translateY(0.5rem)
    rotateY(30deg) scale(0.51);
  box-shadow: 0 0 100px 2px rgb(92, 8, 92);
}
.body.active .second.hover-second {
  opacity: 1;
  transform: perspective(1300px) translateX(-9rem) translateY(0.5rem)
    rotateY(30deg) scale(0.51);
  box-shadow: 0 0 100px 2px rgb(92, 8, 92);
}

.body.active .third {
  opacity: 0.6;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  animation: third-animation 0.8s ease-in-out;
  transform: perspective(1300px) translateX(-11rem) translateZ(40px)
    translateY(1.5rem) rotateY(30deg) scale(0.5);
  z-index: 99;
}
.body.active .third:hover {
  opacity: 1;
  transform: perspective(1300px) translateX(-11.5rem) translateY(-1rem)
    rotateY(30deg) scale(0.51);
  box-shadow: 0 0 100px 2px rgb(92, 8, 92);
}
.body.active .third.hover-third {
  opacity: 1;
  transform: perspective(1300px) translateX(-11.5rem) translateY(-1rem)
    rotateY(30deg) scale(0.51);
  box-shadow: 0 0 100px 2px rgb(92, 8, 92);
}

.body.active .fourth {
  opacity: 0.4;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  animation: fourth-animation 0.9s ease-in-out;
  transform: perspective(1300px) translateX(-13rem) translateZ(60px)
    translateY(0rem) rotateY(30deg) scale(0.5);
  z-index: 98;
}
.body.active .fourth:hover {
  opacity: 1;
  transform: perspective(1300px) translateX(-14rem) translateY(-2.5rem)
    rotateY(30deg) scale(0.515);
  box-shadow: 0 0 100px 2px rgb(92, 8, 92);
}
.body.active .fourth.hover-fourth {
  opacity: 1;
  transform: perspective(1300px) translateX(-14rem) translateY(-2.5rem)
    rotateY(30deg) scale(0.515);
  box-shadow: 0 0 100px 2px rgb(92, 8, 92);
}

@keyframes first-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: perspective(1300px) translateX(-7rem) translateY(4.5rem)
      rotateY(30deg) scale(0.5);
  }
}
@keyframes second-animation {
  0% {
    transform: scale(1);
    display: grid;
    place-content: center;
  }
  50% {
    transform: perspective(1300px) translateX(-7rem) translateY(4.5rem)
      rotateY(30deg) scale(0.5);
    display: grid;
    place-content: center;
  }
  100% {
    transform: perspective(1300px) translateX(-9rem) translateZ(20px)
      translateY(3rem) rotateY(30deg) scale(0.5);
  }
}
@keyframes third-animation {
  0% {
    transform: scale(1);
    display: grid;
    place-content: center;
  }
  50% {
    transform: perspective(1300px) translateX(-7rem) translateY(4.5rem)
      rotateY(30deg) scale(0.5);
    display: grid;
    place-content: center;
  }
  100% {
    transform: perspective(1300px) translateX(-11rem) translateZ(40px)
      translateY(1.5rem) rotateY(30deg) scale(0.5);
  }
}
@keyframes fourth-animation {
  0% {
    transform: scale(1);
    display: grid;
    place-content: center;
  }
  50% {
    transform: perspective(1300px) translateX(-7rem) translateY(4.5rem)
      rotateY(30deg) scale(0.5);
    display: grid;
    place-content: center;
  }
  100% {
    transform: perspective(1300px) translateX(-13rem) translateZ(60px)
      translateY(0rem) rotateY(30deg) scale(0.5);
  }
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid rgb(255, 255, 255);
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  box-shadow: 0 0 100px 30px rgb(92, 8, 92);
  z-index: 999;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0.3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 999;
  box-shadow: 0 0 100px 20px #5c085c;
}

.hover {
  background-color: rgb(183, 174, 174);
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .main {
    position: fixed;
  }
  .cursor {
    display: none;
  }
  .cursor2 {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .home,
  .project,
  .contact,
  .about {
    position: absolute;
    color: white;
    width: 100vw;
    height: 100vh;
    display: grid;
    transform-style: preserve-3d;
    background: linear-gradient(90deg, rgb(12, 15, 27) 2px, transparent 1%)
        center,
      linear-gradient(rgb(12, 15, 27) 2px, transparent 1%) center, rgb(0, 0, 0);
    background-size: 1rem 1rem;
    transition: all 0.5s ease-in-out;

  }
  .body.active .first {
    opacity: 1;
    height: 65%;
    width: 85%;
    transform: translateX(-10rem) scale(0.5);
    animation: first-animation 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .body.active .first:hover{
    transform: translateX(-10rem) scale(0.5);
    animation: first-animation 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .body.active .second {
    opacity: 1;
    height: 65%;
    width: 85%;
    transform: translateX(20rem) scale(0.5);
    animation: second-animation 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .body.active .second:hover{
    transform: translateX(20rem) scale(0.5);
    animation: second-animation 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .body.active .third {
    opacity: 1;
    height: 65%;
    width: 85%;
    transform: translateX(-10rem) translateY(46rem) scale(0.5);
    animation: third-animation 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .body.active .third:hover{
    transform: translateX(-10rem) translateY(46rem) scale(0.5);
    animation: third-animation 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .body.active .fourth {
    opacity: 1;
    height: 65%;
    width: 85%;
    transform: translateX(20rem) translateY(46rem) scale(0.5);
    animation: fourth-animation 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .body.active .fourth:hover{
    transform: translateX(20rem) translateY(46rem) scale(0.5);
    animation: fourth-animation 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  @keyframes first-animation {
    from {
      transform: scale(1);
    }
    to {
      transform: translateX(-10rem) scale(0.5);
    }
  }
  @keyframes second-animation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: translateX(20rem) scale(0.5);
    }
  }
  @keyframes third-animation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: translateX(-10rem) translateY(46rem) scale(0.5);
    }
  }
  @keyframes fourth-animation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: translateX(20rem) translateY(46rem) scale(0.5);
    }
  }
}
